.contact {
  width: 100%;
  max-height: 100vh;
  background-attachment: fixed;

  .contact-info {
    .contact-header {
      @include header;
      margin: 1rem 0;
    }

    &__contact {
      font-size: 1.6rem;
      font-family: $font;
      @include select;
      font-weight: 500;
      color: $darkTextColor;
      @include select;
      a {
        color: $logoColor;
      }
    }

    .contact-items {
      list-style: none;
      font-size: 1.6rem;
      font-family: $font;
      color: $darkTextColor;
      @include select;
      font-weight: 500;
      transform: translateX(-2rem);
      @media (max-width: 858px) {
        font-size: 1.6rem;
      }

      li {
        text-align: left;
        a {
          color: $logoColor;
        }
      }
    }
    .contact-btn {
      width: 25rem;
      height: 5rem;
      border: none;
      background-color: $logoColor;
      border-radius: $borderRadius;
      margin: 1rem 0 3rem;
      color: $lightTextColor;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
      transition-delay: 0.3s;
      box-shadow: $boxShadow;
      a {
        color: inherit;
        font-family: $font;
        @include select;
        font-size: 2rem;
        text-decoration: none;
      }
    }
    .contact-btn:hover {
      background: $lightTextColor;
      color: $logoColor;
    }
  }
}
