.header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url(../images/img-1.jpg);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 924px) {
    background-position: 0rem -20rem;
    padding: 0 20vw;
  }

  .intro-header {
    font-size: 4rem;
    font-family: $font;
    text-align: center;
    color: $logoColor;
    letter-spacing: $textSpacing;
    background-clip: text;
    font-weight: 900;
    &::selection {
      color: $logoColor;
      background-color: white;
    }
  }

  .intro-name {
    width: 30vw;
    font-size: 5rem;
    transition: all;
    color: $logoColor;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    overflow: hidden;
    margin: 0 auto;
    &::selection {
      color: $logoColor;
      background-color: white;
    }
    &:hover {
      text-decoration-color: $lightTextColor;
    }
  }

  .second-header {
    font-size: 2rem;
    color: $lightTextColor;
    font-family: $font;
    font-weight: 800;
    text-align: center;
    margin-top: 2rem;
    &::selection {
      color: $logoColor;
      background-color: white;
    }
  }

  .cv-btn {
    background-color: transparent;
    margin: 1rem auto;
    border: solid 6px $logoColor;
    transform: $skew;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
    transform-origin: right;

    &:hover {
      border: solid 6px transparent;
      background-color: $logoColor;

      a {
        color: white;
      }
    }

    a {
      font-size: 2rem;
      font-weight: 600;
      text-decoration: none;
      padding: 1rem 1.5rem;
      color: $lightTextColor;
    }
  }
}
