$font: "Lato", sans-serif;
$logoColor: #311b92;
$borderRadius: 2px;
$skew: skew(-20deg);
$textSpacing: 0.5rem;
$lightTextColor: rgba(255, 255, 255, 0.521);
$darkTextColor: #0d0c0e;
$boxShadow: -10px -5px 11px 2px #311b9288;
